<!doctype html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Assignment</title>
</head>

<body>
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %} {% endif %}
    <div class="panel-body">
        <form method="post" action="/contact">
            {% csrf_token %}
            <div class="container ">
                <form id="itemForm">
                    <div class="row">
                        <div class="form-group col-sm">
                            <label for="day">Select Day</label>
                            <select id="day" name="day" class='w-50'>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                        </div>
                        <div class="form-group col-sm">
                            <label for="topic">Select Topics</label>
                            <select id="topic" name="topic" class='w-50'>
                        <option disabled hidden selected>Select</option>
                        <option value="1">Topic 1</option>
                        <option value="2">Topic 2</option>
                        <option value="3">Topic 3</option>
                        <option value="4">Topic 4</option>
                    </select>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="subject" class="col-sm-2 col-form-label">Subject</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="subject" name="subject" placeholder="Write Sub...." cols="30" rows="6"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <button class="btn btn-outline-primary">Submit</button>
                        </div>
                    </div>
                </form>

                <hr>
                <div class="row">
                    <strong id="dayR" class="col-sm-6">Day</strong>
                    <div id="topicR" class="col-sm-6">Topic</div>
                    <div id="subR">
                        Subject
                    </div>
                </div>
            </div>
        </form>

    </div>

    <script>
        let topicSub = {
            1: "bank can help you to avoid making the same mistakes again down the road.",
            2: "It can also help you toWhile these answers may become a blur over time",
            3: "remember the aspects of your life that are well-lived.what you do know is that you want to remember",
            4: "them. Keeping your decisions and choices etched into your memory"
        };

        let form = document.getElementById('itemForm')
        let sltDay = document.getElementById('day')
        let sltTopic = document.getElementById('topic')
        let sltSubject = document.getElementById('subject')
        let dayRes = document.getElementById('dayR');
        let topicRes = document.getElementById('topicR');
        let subRes = document.getElementById('subR');

        sltTopic.addEventListener('change', () => {
            let a = sltTopic.options[sltTopic.selectedIndex].value;
            sltSubject.innerHTML = topicSub[a];
        })

        function submit() {
            console.log(sltDay.value)
            dayRes.innerHTML = sltDay.text
            topicRes.innerHTML = sltTopic.value
            subRes.innerHTML = sltSubject.text

        }

        form.addEventListener('submit', (e) => {
            e.preventDefault();
            dayRes.innerHTML = sltDay.value
            topicRes.innerHTML = sltTopic.options[sltTopic.selectedIndex].text
            subRes.innerHTML = sltSubject.innerHTML
        })
    </script>
</body>

</html>